body {
  padding: 0;
  margin: 0;
  background-color: #f8f9fa;
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

b {
  font-weight: 500;
}

h3 {
  margin: 1em 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #5e81a8;
}

.header {
  padding: 15px 50px;
  min-height: 75px;
  color: #f8f9fa;
  background-color: #6A1B9A;
  font-weight: 700;
}

.content {
  padding: 25px 3.125em;
}

.text-center {
  text-align: center;
}

.btn-vk-ui:active, .btn-vk-ui:hover {
  background-color: #688bb0;
}

.btn-vk-ui {
  padding: 7px 15px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.1px;
  color: #fff;
  background: #5e81a8;
  border-radius: 2px;
  line-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 0.8125em
}

.list-photo{
  padding: 0;
  text-align: center;
}

.list-photo li{
  display: inline-block;
  margin: 0 3px;
}

.list-photo img{
  max-height: 80px;
  cursor: pointer;
}

.textarea-description{
  resize: none;
  height:100px;
  width: 100%;
}
